@model List<Dish>

<h1>Come view our recipes!</h1>

<a href="/dishes/new">Create a new dish!</a>

@foreach (Dish dish in Model)
{
    <div class="card shadow rounded mx-auto w-75 mb-3">
        <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
            @dish.name
        </h4>
        <div class="card-body">
            <p class="card-text">@dish.description</p>
        </div>
        <small class="text-muted">@dish.chef</small>
        <small class="text-muted">@dish.calories</small>
        <a asp-controller="Dish" asp-action="ViewDish" asp-route-dishId=@dish.id>View Details</a>
    </div>
}